.faq {
  &__descr {
    text-align: center;
    margin: 0 auto;
    width: 560px;
  }

  &__items {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
    margin-top: 50px;
  }

  &__item {
    display: flex;
    border-radius: 4px;
    padding: 35px 35px;
    background-color: #F5F5F5;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);

    &-image {
      margin-right: 10px;
      width: 32px;
      height: 32px;
    }

    &-title {
      padding: 5px 0;
    }
  }
}