.first {
  position: relative;
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 470px;
  margin-top: 0;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 2;
  }

  &__content {
    max-width: 1000px;
  }

  &__subtitle,
  &__title,
  &__text {
    color: $white;
  }

  &__text {
    width: 460px;
  }

  &__button {
    margin-right: 20px;
    padding: 8px 14px;

    &-call {
      padding: 8px 14px;
    }
  }

}