.header {
  padding: 6px 0;
  // top: -80px;
  transition: all .7s ease-in-out;

  &__fixed {
    width: 100%;
    position: fixed;
    top: -80px;
    transform: translateY(80px);
    background-color: #fff;
    z-index: 50;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      padding-right: 12px;
    }

    p {
      color: $red;
      text-align: center;
    }

    span {
      text-align: center;
      color: $blue;
      text-transform: uppercase;
      display: block;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    &-list {
      display: flex;
      gap: 20px
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 50px;
      color: $blue;

      &:hover {
        color: $red;
        transition: $transition;
        transform: scale(1.1);
        text-shadow: 4px -2px 1px rgba(34, 60, 80, 0.2);
      }
    }
  }

  &__button-call {
    padding: 8px 10px;
  }

}