@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 25px;
  color: #0e1927;
  background-color: #ffffff;
}

a,
button,
input,
textarea,
svg * {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
@media (max-width: 950px) {
  h2 {
    font-size: 45px;
  }
}

h3 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

h5 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 80px 0 60px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1280px) {
  .content-wrapper {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .content-wrapper {
    width: 100%;
  }
}

.button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #bd141e;
  border-radius: 4px;
  padding: 12px 14px;
}
.button:hover {
  background-color: #0D3F82;
  color: #ffffff;
}

.title {
  letter-spacing: 2.7px;
  line-height: 1;
  color: #0D3F82;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.subtitle {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  line-height: 1;
  margin-bottom: 20px;
  display: inline-block;
  color: #bd141e;
}

.text {
  line-height: 28px;
  color: #0e1927;
  margin-bottom: 18px;
}

.header {
  padding: 6px 0;
  transition: all 0.7s ease-in-out;
}
.header__fixed {
  width: 100%;
  position: fixed;
  top: -80px;
  transform: translateY(80px);
  background-color: #fff;
  z-index: 50;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
@media (max-width: 950px) {
  .header__fixed {
    position: static;
  }
}
.header__buttons {
  display: flex;
  gap: 15px;
}
.header__burger {
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
  height: 41px;
  width: 41px;
  aspect-ratio: 1;
  position: relative;
  background-color: #bd141e;
  border-radius: 5px;
  color: #ffffff;
}
@media (max-width: 950px) {
  .header__burger {
    display: block;
  }
}
.header__burger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}
.header__phone-btn {
  display: none;
  background-color: #bd141e;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}
@media (max-width: 500px) {
  .header__phone-btn {
    display: block;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  padding-right: 12px;
}
.header__logo p {
  color: #bd141e;
  text-align: center;
}
.header__logo span {
  text-align: center;
  color: #0D3F82;
  text-transform: uppercase;
  display: block;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  gap: 20px;
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 50px;
  color: #0D3F82;
}
@media (max-width: 1024px) {
  .header__menu-link {
    font-size: 14px;
  }
}
.header__menu-link:hover {
  color: #bd141e;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  text-shadow: 4px -2px 1px rgba(34, 60, 80, 0.2);
}
@media (max-width: 950px) {
  .header__menu {
    display: none;
  }
}
.header__button-call {
  padding: 8px 10px;
}
@media (max-width: 500px) {
  .header__button-call {
    display: none;
  }
}

.first {
  position: relative;
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 470px;
  margin-top: 0;
}
.first__inner {
  display: flex;
  align-items: center;
  height: 100%;
}
.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.first * {
  position: relative;
  z-index: 2;
}
.first__content {
  max-width: 1000px;
}
.first__subtitle, .first__title, .first__text {
  color: #ffffff;
}
.first__text {
  width: 460px;
}
.first__button {
  margin-right: 20px;
  padding: 8px 14px;
}
.first__button-call {
  padding: 8px 14px;
}

.about {
  padding-bottom: 20px;
}
.about__left {
  width: 50%;
}
.about__left-aside__boxes {
  position: absolute;
  transform: translateY(8%);
  right: -100px;
}
.about__left-first__box {
  padding: 32px;
  display: block;
  text-align: center;
  background-color: #fff;
  width: 250px;
  height: 220px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.about__left-second__box {
  padding: 32px;
  display: block;
  text-align: center;
  background-color: #fff;
  width: 250px;
  height: 220px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.about__left .box-text {
  font-size: 24px;
  font-weight: 600;
  color: #0D3F82;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.about__descr {
  width: 40%;
  margin-left: 70px;
}
.about__image {
  position: relative;
  max-width: 520px;
  height: 525px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.about-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.advantages__right {
  width: 50%;
  display: flex;
  justify-content: right;
}
.advantages__right-aside__boxes {
  position: absolute;
  transform: translateY(8%);
  left: -150px;
}
.advantages__right-first__box {
  padding: 32px;
  display: block;
  text-align: center;
  background-color: #fff;
  width: 250px;
  height: 220px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.advantages__right-second__box {
  padding: 32px;
  display: block;
  text-align: center;
  background-color: #fff;
  width: 250px;
  height: 220px;
  border-radius: 4px;
  box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.advantages__right .box-text {
  font-size: 24px;
  font-weight: 600;
  color: #0D3F82;
}
.advantages__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.advantages__descr {
  width: 40%;
  margin-right: 110px;
}
.advantages__image {
  position: relative;
  max-width: 520px;
  height: 525px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.advantages-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.discount {
  position: relative;
  background-image: url(../images/discount-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 590px;
  padding: 0;
  margin-top: 40px;
}
.discount::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 33, 160, 0.356);
  z-index: 1;
}
.discount * {
  position: relative;
  z-index: 2;
}
.discount__inner {
  display: flex;
  height: 100%;
  align-items: center;
}
.discount__content {
  display: flex;
  align-items: center;
  max-width: 560px;
}
.discount__title, .discount__text {
  color: #ffffff;
}
.discount__boxes-wrapper {
  position: absolute;
  width: 97%;
  bottom: -60px;
}
.discount__boxes {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.discount__box {
  width: 25%;
  max-height: 130px;
  background-color: #ffffff;
  padding: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.discount__box-title {
  font-weight: 500;
}

.services {
  margin-top: 100px;
}
.services__descr {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.services__items-top {
  display: flex;
  height: 350px;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}
.services__items-bottom {
  display: flex;
  gap: 20px;
  height: 350px;
  margin-top: 25px;
}
.services__top-item--vehicle {
  text-align: center;
  width: 50%;
  height: 100%;
  border-radius: 4px;
  padding: 55px 35px;
  background-color: #F5F5F5;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}
.services__top-item--vehicle:hover {
  background-color: #ebeaea;
}
.services__top-item--vehicle__title {
  font-weight: 600;
}
.services__top-item--sale {
  position: relative;
  text-align: center;
  width: 50%;
  height: 100%;
  border-radius: 4px;
  padding: 55px 35px;
  background-color: #FFB92B;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}
.services__top-item--sale:hover {
  background-color: #e9ae38;
}
.services__top-item--sale__shape {
  position: absolute;
  color: #FFB92B;
  background-color: #000000;
  padding: 8px 8px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 13px;
  top: 15px;
  right: 15px;
}
.services__top-item--sale__title {
  font-weight: 600;
}
.services__bottom-item {
  height: 100%;
  width: 33%;
  text-align: center;
  border-radius: 4px;
  padding: 55px 35px;
  background-color: #F5F5F5;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}
.services__bottom-item:hover {
  background-color: #ebeaea;
}
.services__bottom-item__title {
  font-weight: 600;
}

.price__descr {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.price__table {
  margin: 0 auto;
  text-align: left;
  border-collapse: separate;
}
.price__table tbody td {
  background-color: #edebeb;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
}
.price__table thead th {
  background-color: #bd141e;
  color: #ffffff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
}
.price__table .table__title {
  text-transform: none;
  margin: 0;
}
.price__table .table__price {
  margin: 0;
}

.rewives__descr {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.rewives__items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.rewives__item {
  width: 33%;
  background-color: #a2c8fa;
  padding: 32px;
  border-radius: 4px;
  border-top: 8px solid #bd141e;
  text-align: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.rewives__item-text {
  color: #ffffff;
}
.rewives__item-user {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.rewives__item-user--image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.rewives__item-user--image img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.rewives__item-user--descr {
  text-align: left;
}
.rewives__item-user--descr__name {
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
}
.rewives__item-user--descr__prof {
  color: #bd141e;
  text-transform: uppercase;
  font-size: 14px;
}

.gallery {
  position: relative;
  background-image: url(../images/gallery-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 0;
  height: 100%;
}
.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 5, 170, 0.51);
  z-index: 1;
}
.gallery * {
  position: relative;
  z-index: 2;
}
.gallery__title, .gallery__text {
  color: #ffffff;
}
.gallery__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px 250px 250px;
  gap: 15px 15px;
  grid-template-areas: "one one two" "three four two" "five six seven" "five eight eight";
}
.gallery__content div {
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}
.gallery__content .one {
  grid-area: one;
}
.gallery__content .two {
  grid-area: two;
}
.gallery__content .three {
  grid-area: three;
}
.gallery__content .four {
  grid-area: four;
}
.gallery__content .five {
  grid-area: five;
}
.gallery__content .six {
  grid-area: six;
}
.gallery__content .eight {
  grid-area: eight;
}
.gallery__content .seven {
  grid-area: seven;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.gallery__img:hover {
  transform: scale(1.1);
}

.imgPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 55;
}
.imgPopup img {
  max-width: 930px;
  max-height: 550px;
}

.faq__descr {
  text-align: center;
  margin: 0 auto;
  width: 560px;
}
.faq__items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 40px;
  margin-top: 50px;
}
.faq__item {
  display: flex;
  border-radius: 4px;
  padding: 35px 35px;
  background-color: #F5F5F5;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}
.faq__item-image {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
.faq__item-title {
  padding: 5px 0;
}

.contacts__map {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 600px;
  height: 400px;
}
.contacts__items {
  display: flex;
  gap: 150px;
  align-items: center;
}
.contacts__item {
  position: relative;
  padding: 15px 10px 15px 40px;
  margin-bottom: 10px;
  color: #0D3F82;
  font-size: 20px;
}
.contacts__item:hover {
  transform: scale(1.1);
}
.contacts__descr {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.contacts__menu {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contacts__email::before {
  position: absolute;
  content: "";
  background-image: url(../images/email.svg);
  width: 25px;
  height: 25px;
  left: 3px;
}
.contacts__whatsapp::before {
  position: absolute;
  content: "";
  background-image: url(../images/whatsapp.svg);
  width: 25px;
  height: 25px;
  left: 3px;
}
.contacts__telegram::before {
  position: absolute;
  content: "";
  background-image: url(../images/telegram.svg);
  width: 30px;
  height: 30px;
  left: 0;
  top: 12px;
}
.contacts__vk::before {
  position: absolute;
  content: "";
  background-image: url(../images/vk.svg);
  width: 30px;
  height: 30px;
  left: 0;
}

.footer {
  padding: 40px 0;
  background-color: #bedaff;
  box-shadow: 4px -4px 8px 0px rgba(34, 60, 80, 0.2);
}
.footer__inner {
  display: flex;
  align-items: center;
  gap: 300px;
}
.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer__logo img {
  padding-right: 12px;
}
.footer__logo p {
  color: #bd141e;
  text-align: center;
}
.footer__logo span {
  text-align: center;
  color: #0D3F82;
  text-transform: uppercase;
  display: block;
}
.footer__contacts-link {
  margin-right: 20px;
}
.footer__contacts-link:hover {
  transform: scale(1.1);
}
.footer__menu {
  display: flex;
}
.footer__menu-list {
  display: flex;
  gap: 300px;
}
.footer__menu-link {
  position: relative;
  color: #0D3F82;
  padding: 6px;
}
.footer__menu-link:hover {
  color: #bd141e;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */